<!-- <div class="stats-block" style="padding: 20px; text-align: center; display: flex; justify-content: space-around;">
  {{ range .Stats }}
  <div class="stat-item">
    <h1 style="font-size: 3rem; margin: 0;">{{ .value }}</h1>
    <p style="font-size: 1rem; margin: 0;">{{ .label }}</p>
  </div>
  {{ end }}
</div> -->
<style>
  .vertical-separator {
  width: 3px;
  height: 50px; /* Adjust height as needed */
  background-color: #ccc; /* Adjust color as needed */
  margin: 0 10px; /* Adds spacing around the separator */
}

</style>
<div class="stats-block" style="padding: 20px; text-align: center; display: flex; justify-content: space-around; align-items: center;">
  <div class="stat-item" style="padding: 0 20px;">
    <h1 style="font-size: 3rem; margin: 0;">19</h1>
    <p style="font-size: 1rem; margin: 0;">Publications</p>
  </div>
  <!--<div class="vertical-separator"></div>
   <div class="stat-item" style="padding: 0 20px;">
    <h1 style="font-size: 3rem; margin: 0;">1</h1>
    <p style="font-size: 1rem; margin: 0;">Preprint</p>
  </div>
  <div class="vertical-separator"></div> -->
  <!-- <div class="stat-item" style="padding: 0 20px;">
    <h1 style="font-size: 3rem; margin: 0;">18+</h1>
    <p style="font-size: 1rem; margin: 0;">Citations</p>
  </div> -->
  <div class="vertical-separator"></div>
  <div class="stat-item" style="padding: 0 20px;">
    <h1 style="font-size: 3rem; margin: 0;">6</h1>
    <p style="font-size: 1rem; margin: 0;">H-Index</p>
  </div>
  <div class="vertical-separator"></div>
  <div class="stat-item" style="padding: 0 20px;">
    <h1 style="font-size: 3rem; margin: 0;">5+</h1>
    <p style="font-size: 1rem; margin: 0;">Years of Teaching Experience</p>
  </div>
  <div class="vertical-separator"></div>
  <div class="stat-item" style="padding: 0 20px;">
    <h1 style="font-size: 3rem; margin: 0;">8</h1>
    <p style="font-size: 1rem; margin: 0;">Supervised Projects</p>
  </div>
</div>

