<!-- <div class="stats-block" style="padding: 20px; text-align: center; display: flex; justify-content: space-around;">
  {{ range .Stats }}
  <div class="stat-item">
    <h1 style="font-size: 3rem; margin: 0;">{{ .value }}</h1>
    <p style="font-size: 1rem; margin: 0;">{{ .label }}</p>
  </div>
  {{ end }}
</div> -->

<div class="stats-block" style="padding: 20px; text-align: center; display: flex; justify-content: space-around;">
  <div class="stat-item">
    <h1 style="font-size: 3rem; margin: 0;">15</h1>
    <p style="font-size: 1rem; margin: 0;">Publications</p>
  </div>
  <div class="stat-item">
    <h1 style="font-size: 3rem; margin: 0;">1</h1>
    <p style="font-size: 1rem; margin: 0;">Preprint</p>
  </div>
  <div class="stat-item">
    <h1 style="font-size: 3rem; margin: 0;">18+</h1>
    <p style="font-size: 1rem; margin: 0;">Citations</p>
  </div>
  <div class="stat-item">
    <h1 style="font-size: 3rem; margin: 0;">3</h1>
    <p style="font-size: 1rem; margin: 0;">H-Index</p>
  </div>
  <div class="stat-item">
    <h1 style="font-size: 3rem; margin: 0;">10</h1>
    <p style="font-size: 1rem; margin: 0;">Supervised Projects</p>
  </div>
</div>
